@media (width < 920px) {
    .sidebar {
        width: 140px;
    }
    .sidebar button > span {
        width: 50px ;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    img{
        width: 110px;
    }

    .main {
        transition: margin 0.4s;
        margin-left: 140px;
    }

}



@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .social-media,
    .rate-us {
      width: 100%;
    }
  }











  @media screen and (max-width: 600px) {
    footer {
      flex-direction: column;
    }
  
    footer ul {
      margin-top: 10px;
    }
  
    footer form {
      margin-bottom: 10px;
    }
  }
