@media (width < 920px) {
  .sidebar {
    width: 140px;
  }
  .sidebar button > span {
    width: 50px;
  }

  img {
    width: 110px;
  }

  .main {
    transition: margin 0.4s;
    margin-left: 140px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card li h1 {
    font-size: 12px;
  }

  #mySidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #searchInput {
    font-size: 12px;
  }

  #cartItems {
    font-size: 1px;
  }

  .sidebar button > span > span {
    font-size: 14px;
  }

  footer {
    flex-direction: column;
    width: 100%;
  }
}
